//公共部分开始开始--------------------------------------------------------------------------
.project{
  height: 100%;
}
.home{
  height: 100%;
}
//添加伪类符
/*
   *
     ***********商品列表 2列**************
   *
*/
.indexShopListTwo{
  overflow: hidden;width: 100%;
  .shoplisttwo_ul{
    overflow: hidden;display: flex;justify-content: space-between;margin-bottom: 20px;
    .ul_li{
      width: 49%;margin-right: 2%;background: #fff;
      .shop_title_img{
        width: 100%;height: 14rem;
      }

      .shop_title{
        line-height: 20px;padding: 0 10px;
      }
      .price_similarity{
        display: flex;justify-content: space-between;align-items: center;padding: 0 10px;padding-bottom: 10px;
        .price{
          flex: 1;color:#c82519;
          .proce_em{
            border: 1px solid #c82519;padding: 0 5px;margin-left: 5%;
          }
        }
        .similarity{
          width:48px ;height: 23px;border: 1px solid #d2d2d2;line-height: 25px;text-align: center;
        }
      }
    }
    .ul_li:nth-child(2n){
      margin-right: 0px;
    }
  }
}
/*
   *
     ***********公共头部导航栏样式**************
   *
*/
.headerBar{
  .header{
    z-index: 999; line-height: 44px;position:fixed;top:0px;left:0px;width:100%; display: flex;justify-content: space-between;height: 44px;align-items: center; overflow: hidden;box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.1);
    .left_nav{
      width: 50px;height: 100%;text-align: center;line-height: 44px;
    }
    .center_nav{
      flex: 1;height: 100%;text-align: center;line-height: 44px;overflow: hidden;padding:0 1%;
    }
    .right_nav{
      width: 50px;height: 100%;line-height: 44px;text-align: center;
    }
  }
  .fill_header{
    height: 44px;
  }
}

/*
   *
     ***********公共底部导航栏样式**************
   *
*/
.footerBar{

  .footer_ul{
    height: 52px;position: fixed;bottom: 0px;left: 0px;box-shadow: 1px 2px 3px 4px rgba(0,0,0,0.1);overflow: hidden;width: 100%; background: #fff;display: flex;justify-content: space-between;z-index: 99;
    li{
      flex: 1;
       a{
         display: flex;justify-content: center;flex-direction: column;height: 100%;
         i{
           font-size: 19px;text-align: center;padding-bottom: 3px;color: #000;font-weight: bold;
         }
         .fotr_title{
           font-size: 12px;display: block;text-align: center;
         }
       }
      .activefooter{
        i{
          color: red;
        }
        .fotr_title{
          color: red;
        }
      }
    }
  }
  .fill_footer{
    height: 52px;width: 100%;position: relative;
  }
}
/*
   *
     ***********公共搜索框开始**************
   *
*/
.serch_jd{
  overflow: hidden; background: #f6f6f6;border-radius: 15px;height: 29px;line-height: 29px; padding:0 2%; margin-top: 7.5px;display: flex; justify-content: space-between;align-items: center;
  .show_JD{
    position: relative;height:100%;font-size: 18px;color:#c82519;font-weight: bold;padding: 0 5px;
  }
  .show_JD:after{
    content: '';position: absolute;right: 0px;height: 16px;width: 1px;background: #d2d2d2;top:6.5px;
  }
  i{
    width: 10%;height: 29px;color: #757272;font-size: 18px;
  }
  .serch_title{
    flex: 1;height: 29px;font-size: 12px;color: #757272;text-align: left;
  }
  .serch_title_input{
    background:#f6f6f6;border: none;
  }
}
//公共部分开始结束--------------------------------------------------------------------------
/*
   *
     ***********登录页面样式开始**************
   *
*/
.login{
  .titles,.title_saiban{
    text-align: center;color: #26a2ff;font-size: 22px;line-height: 80px;
  }
  .title_saiban{
    font-size: 16px;
  }
  overflow: hidden;height: 100%;width: 100%;background:url("./../assets/image/login.png")no-repeat 100% 100%;background-size: 100% 100%; position: relative;background: none;
  .row_col{
    position: absolute;left: 0px;top: 40%;transform: translateY(-50%);width: 100%;background: none;
    .user_login{
    }
  }
  .login_btn{
    position: absolute;left: 5%;top: 55%;width: 90%;
  }
}

/*
   *
     ***********首页样式开始**************
   *
*/
.home{
  //公共部分开始
  .img_title{
    width: 100%;height: 40px;
  }
  //头部导航部分开始
  .header_home{
    .bar_home_left{
      height:100%;
        i{
          font-size: 29px;color: #fff;cursor: pointer;
        }
    }
    .bar_home_center{

    }
    .bar_home__right{
      a{
       color: #fff;text-align: center;cursor: pointer;
      }

    }
    a{
      height: 100%
    }
    .rbg_color{
           background-image:-webkit-linear-gradient(bottom,#f1503b,#c82519 50%);position: absolute;top: 0;left: -25%;height: 7.25rem;width: 150%;border-bottom-left-radius: 50%;border-bottom-right-radius: 50%;
     }
    .header{
      background:#c82519;
    }
  }
  //轮播图部分开始
  .swpier{
    height: 120px;width: 85%;margin: 0 auto;margin-top: 20px;border-radius: 5px;
    .mt_swipe{
      border-radius: 7px;z-index: 4;
    }
    .mt_swipe_item{
      background: red;
      img{
        width: 100%;height: 100%;display: block;
      }
    }
  }
  //障眼法部分开始
  .roll{
    position: absolute;width: 150%; height: 200px;left: -25%;z-index: -1; background: #fff;top:8.5rem;border-top-left-radius: 50%;border-top-right-radius: 50%;
  }
  //列表功能部分开始
  .listbtn{
    overflow: hidden;width: 100%;background: #fff;
    .btn_ul{
      display: flex;justify-content:space-between;flex-wrap: wrap;width: 96%;padding: 10px 2%;
      li{
        width: 20%;overflow: hidden;
        a{
          display: block;padding-top:5px ;cursor: pointer;padding:5px;padding-bottom: 0px;
          .btn_img{
            margin: 0px auto;display: block; width: 35px;height: 35px;overflow: hidden;border-radius: 50%;
          }
          .btn_title{
            line-height: 27px;text-align: center;
          }
        }
        a:active{
          background-color: #f5f5f5;
        }
      }
    }
  }
  //新人专享部分开始
  .newspeople{
    width: 96%;overflow: hidden;padding: 10px 2%;border-top-left-radius: 25px;border-top-right-radius: 25px; display: flex;justify-content: space-between;
    .newsone,.newstwo{
      width: 50%;height: 8rem;
      img{
        height: 100%;width: 100%;
      }
    }
  }
  //每日逛
  .daysee{
    overflow: hidden;width: 96%;padding: 0px 2%;
    .list_ul_day{
      display: block;width: 100%;background: #fff; overflow: hidden;display: flex;justify-content: space-between;flex-wrap: wrap;
      .list_ul_li{
        width: 25%;box-sizing:border-box;border-right: 1px solid #eee;border-top: 1px solid #eee;padding:10px 0px;
        .li_h3{
            background: -webkit-linear-gradient(90deg, #FF2A2A,#F139D2);line-height: 25px;font-size: 15px;  -webkit-background-clip: text;-webkit-text-fill-color: transparent;
        }
        .li_h3,.li_title{
          width: 100%;text-align: center;line-height: 20px;
        }
        .li_img{
          width: 40px;height: 40px;margin: 5px auto;display: block;
        }
      }
      .list_ul_li:nth-child(4n){
        border-right: none;
      }
      .list_ul_li:nth-child(1),.list_ul_li:nth-child(2),.list_ul_li:nth-child(3),.list_ul_li:nth-child(4){
        border-top: none;
      }
    }
  }
  //快报
  .marquee{
    height: 35px;background: #fff;width: 96%;margin: 15px auto;
  }
  //为你推荐
  .recommend{
    width: 96%;margin: 0 auto;
  }
}






























































































